.coffee-mug {
	-moz-animation: slideInUp 2s;
    -ms-animation: slideInUp 2s;
    -o-animation: slideInUp 2s;
	-webkit-animation: slideInUp 2s;
    animation: slideInUp 2s;
}

.polaroid-images {
	-moz-animation: pulse 0.9s;
    -ms-animation: pulse 0.9s;
    -o-animation: pulse 0.9s;
	-webkit-animation: pulse 0.9s;
    animation: pulse 0.9s;
}