/* moving animations */

.coffee-mug {
	-moz-animation: slideInUp 2s;
    -ms-animation: slideInUp 2s;
    -o-animation: slideInUp 2s;
	-webkit-animation: slideInUp 2s;
    animation: slideInUp 2s;
}

.donut {
    -moz-animation: fadeInDownBig 3s;
    -ms-animation: fadeInDownBig 3s;
    -o-animation: fadeInDownBig 3s;
    -webkit-animation: fadeInDownBig 3s;
    animation: fadeInDownBig 3s;
}

.polaroid-images {
	-moz-animation: pulse 0.9s;
    -ms-animation: pulse 0.9s;
    -o-animation: pulse 0.9s;
	-webkit-animation: pulse 0.9s;
    animation: pulse 0.9s;
}

.milk {
    -moz-animation: bounceInDown 2s;
    -ms-animation: bounceInDown 2s;
    -o-animation: bounceInDown 2s;
    -webkit-animation: bounceInDown 2s;
    animation: bounceInDown 2s;
}

