#main-jiff-image {
	border: 1px solid black;
}

#video-wrapper {
	border: 2px dotted black;
	padding: 1em;
	margin: 1em;
	height: 400px;
    img {
    border: 1px solid black;
    }
}



#previousVideo {
	li {
	list-style-type: none;
	}
}


