body {
	font-family: 'Permanent Marker', cursive;
	background-image: url("../images/wood.jpg");
	background-size: cover;
	background-repeat: repeat;
	background-position: center center;
	color: black;
	a:link {
	color: black;
	text-decoration: none;
	}
	a:visited {
	
	text-decoration: none;
	}
}

.saved-videos-list {
	li {
	list-style-type: none;
	}
}

.grid-padding { 
	margin:55px; 
	padding:5px;
}

.heading-one {
	color: black;
}

.heading-one-two {
	color: black;
}


.polaroid-images {

	a {
	background: white;
	display: inline;
	float: left;
	margin: 0 5px 15px;
	padding: 10px 10px 30px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
	}

	a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
	}

	img { 
	display: block; 
	width: inherit; 
	}

	a:nth-child(2n) {
	-webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
	}

	a:nth-child(3n) { 
	-webkit-transform: rotate(-24deg);  
	-moz-transform: rotate(-24deg); 
	transform: rotate(-24deg); 
	}

	a:nth-child(4n) {
	-webkit-transform: rotate(14deg);  
	-moz-transform: rotate(14deg); 
	transform: rotate(14deg); 
	}

	a:nth-child(5n) {
	-webkit-transform: rotate(-18deg);  
	-moz-transform: rotate(-18deg); 
	transform: rotate(-18deg); 
	}

	a:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
	}


}


#jumbomain {
	background: white;
	border-radius: 0px;
	margin: 0 5px 15px;
	padding: 10px 10px 60px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
	
}

#video-wrapper {
	border: 1px solid black;
	background: black;
	padding: 1em;
	margin: 1em;
	height: 500px;
    img {
    border: 1px solid black;
    }
}


#small-photos {
	background: white;
	border-radius: 0px;
	display: inline;
	float: right;
	margin: 0 5px 15px;
	padding: 10px 10px 50px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
	
}

#small-photos-hover {
	a:hover {
	-webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 10px 16px rgba(0,0,0,.3);
	box-shadow: 0 10px 16px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	}
	a:visited {
	color: black;
	}
}

#button-functions {
	a:link {
	color: white;
	}
	a:visited {
	color: white;
	}
	p {
	display: inline;
	float: right;
	width: 70px;
	}
}

.large-buttons {
	a:link {
	color: white;
	}
	a:visited {
	color: white;
	}
}

.main-title {
	position: absolute;
	top: 140px;
	left: 31%;
	font-size: 250%;
	padding-left: 20px;
	width: 35%;
	line-height: 35px;
	a {
	color: black;
	}
}

.main-title-two {
	position: absolute;
	top: 170px;
	left: 31%;
	font-size: 250%;
	padding-left: 20px;
	width: 35%;
	line-height: 35px;
	color: black;
	a {
	color: black;
	}
}

.main-title-three {
	position: absolute;
	top: 15%;
	left: 31%;
	font-size: 250%;
	padding-left: 20px;
	width: 35%;
	line-height: 35px;
	color: black;
	a {
	color: black;
	}
}

.main-title-four {
	position: absolute;
	top: 13%;
	left: 31%;
	font-size: 250%;
	padding-left: 20px;
	width: 35%;
	line-height: 35px;
	color: black;
	a {
	color: black;
	}
}

.coffee-stain {
	position: absolute;
	top: 35%;
	left: 72%;
	
}
.coffee-mug {
	position: absolute;
	top: 530px;
	left: 66%;
}

.donut {
	position: absolute;
	top: 170px;
	right: 75%;
}

.sharpie {
	position: absolute;
	top: 50px;
	left: 67%;
}

.chips {
	position: absolute;
	top: 0px;
	right: 0px;
}

.chips-bottom {
	position: absolute;
	top: 1490px;
	left: 0px;
}

.popcorn {
	position: absolute;
	top: 0px;
	left: 0px;
}

.popcorn-bottom {
	position: absolute;
	top: 1490px;
	right: 0px;
}

.fries {
	position: absolute;
	top: 0px;
	left: 0px;
}

.burger {
	position: absolute;
	top: 0px;
	right: 0px;
}

.coke {
	position: absolute;
	top: 350px;
	right: 0px;
}

#nav {
	background: transparent;
	border: 0px;
	a {
	color: black;
	font-size: 22px;
	}
	#menu-button {
	border: 1px solid black;
	}
}

