body {
	font-family: 'Permanent Marker', cursive;
	background-image: url("../images/wood1440x957.jpg");
	background-repeat: repeat;
	background-position: center center;
	color: black;
	a:link {
	color: black;
	text-decoration: none;
	}
	a:visited {
	text-decoration: none;
	}
}

.saved-videos-list {
	li {
	list-style-type: none;
	}
}

.grid-padding { 
	margin:55px; 
	padding:5px;
}

.heading-one {
	color: black;
}

.heading-one-two {
	color: black;
}


.polaroid-images {

	a {
	background: white;
	display: inline;
	float: left;
	margin: 0 5px 15px;
	padding: 10px 10px 30px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
	}

	a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
	}

	img { 
	display: block; 
	width: inherit; 
	}

	a:nth-child(2n) {
	-webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
	}

	a:nth-child(3n) { 
	-webkit-transform: rotate(-24deg);  
	-moz-transform: rotate(-24deg); 
	transform: rotate(-24deg); 
	}

	a:nth-child(4n) {
	-webkit-transform: rotate(14deg);  
	-moz-transform: rotate(14deg); 
	transform: rotate(14deg); 
	}

	a:nth-child(5n) {
	-webkit-transform: rotate(-18deg);  
	-moz-transform: rotate(-18deg); 
	transform: rotate(-18deg); 
	}

	a:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
	}


}


#jumbomain {
	background: white;
	border-radius: 0px;
	margin: 0 5px 15px;
	padding: 10px 10px 60px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
	
}

#video-wrapper {
	border: 1px solid black;
	background: black;
	color: white;
	padding: 1em;
	margin: 1em;
	height: 500px;
    img {
    border: 1px solid black;
    }
}


#small-photos {
	background: white;
	border-radius: 0px;
	display: inline;
	float: right;
	margin: 0 5px 15px;
	padding: 10px 10px 50px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
	
}

#small-photos-hover {
	a:hover {
	-webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 10px 16px rgba(0,0,0,.3);
	box-shadow: 0 10px 16px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	}
	a:visited {
	color: black;
	}
}

#button-functions {
	a:link {
	color: white;
	}
	a:visited {
	color: white;
	}
	p {
	display: inline;
	float: right;
	width: 70px;
	}
}

.large-buttons {
	a:link {
	color: white;
	}
	a:visited {
	color: white;
	}
}

.main-title {
	position: absolute;
	top: 140px;
	left: 31%;
	font-size: 250%;
	padding-left: 20px;
	width: 35%;
	line-height: 35px;
	a {
	color: black;
	}
}

.main-title-two {
	position: absolute;
	top: 170px;
	left: 31%;
	font-size: 250%;
	padding-left: 20px;
	width: 35%;
	line-height: 35px;
	color: black;
	a {
	color: black;
	}
}

.main-title-three {
	position: absolute;
	top: 15%;
	left: 31%;
	font-size: 250%;
	padding-left: 20px;
	width: 35%;
	line-height: 35px;
	color: black;
	a {
	color: black;
	}
}

.main-title-four {
	position: absolute;
	top: 13%;
	left: 31%;
	font-size: 250%;
	padding-left: 20px;
	width: 35%;
	line-height: 35px;
	color: black;
	a {
	color: black;
	}
}

.coffee-stain {
	position: absolute;
	top: 35%;
	left: 72%;
	
}
.coffee-mug {
	position: absolute;
	top: 570px;
	left: 66%;
}

.donut {
	position: absolute;
	top: 170px;
	right: 75%;
}

.sharpie {
	position: absolute;
	top: 50px;
	left: 67%;
}

.chips {
	position: absolute;
	top: 0px;
	right: 0px;
}

.chips-bottom {
	position: absolute;
	top: 1550px;
	left: 0px;
}

.popcorn {
	position: absolute;
	top: 0px;
	left: 0px;
}

.popcorn-bottom {
	position: absolute;
	top: 1550px;
	right: 0px;
}

.fries {
	position: absolute;
	top: 0px;
	left: 0px;
}

.burger {
	position: absolute;
	top: 0px;
	right: 0px;
}

.coke {
	position: absolute;
	top: 350px;
	right: 0px;
}

.oreos {
	position: absolute;
	top: 30px;
	left: 0px;
}

.mm {
	position: absolute;
	top: 220px;
	right: 0px;
}

.bite-oreo {
	position: absolute;
	top: 380px;
	right: 85px;
}

.milk {
	position: absolute;
	top: 480px;
	left: 75%;
}

#nav {
	background: transparent;
	border: 0px;
	a {
	color: black;
	font-size: 22px;
	}
	#menu-button {
	border: 1px solid black;
	}
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}