<div class="main-title-four">
  <center><h1 align="center">Visit Jiff's Website!</h1></center>
</div>

<a href="http://www.jiffdog.com/"><img src="images/orange.png"></a>

<br>
<br>
<br>

<center>
<div class="polaroid-images">
<a ng-href="http://www.jiffdog.com/" title="Learn More"><img height="200" src="images/jiffandredbull.jpg" alt="football" title="Learn" /></a>  
<a ng-href="http://www.jiffdog.com/" title="Click Here!"><img height="200" src="images/jiffandyawning.jpg" alt="yawning" title="Click Here!" /></a> 
<a ng-href="http://www.jiffdog.com/" title="Visit Jiff's Website"><img height="200" src="images/jiffandfootball.jpg" alt="football" title="Visit Jiff's Website" /></a>

</div> 
</center>

