<!-- post it title -->
<div class="main-title-four">
  <center><h1 align="center">Visit Jiff's Website!</h1></center>
</div>
<!-- post it -->
<a href="http://www.jiffdog.com/"><img src="images/orange.png"></a>

<br>
<br>
<br>
<!-- polaroid images -->
<center>
<div class="polaroid-images">
<a ng-href="http://www.jiffdog.com/" title="Learn More"><img height="200" src="images/jiffandredbull.jpg" alt="Learn More" title="Learn More" /></a>  
<a ng-href="http://www.jiffdog.com/" title="&quot; Click Here! &quot;"><img height="200" src="images/jiffandyawning.jpg" alt="Click Here!" title="Click Here!" /></a> 
<a ng-href="http://www.jiffdog.com/" title="Visit Jiff's Website"><img height="200" src="images/jiffandfootball.jpg" alt="Visit Jiff's Website" title="Visit Jiff's Website" /></a>

</div> 
</center>
<!-- extra images -->
<div class="oreos hvr-buzz hvr-grow">
	<a href="http://www.jiffdog.com/"><img src="images/oreo.png"></a>
</div>

<div class="mm hvr-buzz hvr-grow">
	<a href="http://www.jiffdog.com/"><img src="images/mm.png"></a>
</div>

<div class="bite-oreo hvr-grow">
	<a href="http://www.jiffdog.com/"><img src="images/oreobite.png"></a>
</div>

<div class="milk hvr-grow">
	<a href="http://www.jiffdog.com/"><img src="images/milk.png"></a>
</div>