<!-- title for post it -->
<div class="main-title-three">
  <center><h1 align="center">Watch Your Favorites!</h1></center>
</div>
<!-- post it -->
<a href="/jiff-jiff/#/random"><img src="images/pink.png"></a>



<br>
<br>
<br>
<br>
<br>
<!-- when videos are not saved this displays -->
<div ng-if="!storage.savedVideos">
<br>
<br>
<center>
<div class="polaroid-images">
<a ng-href="/jiff-jiff/#/" title="Home"><img height="200" src="images/jiffandrestaurant.jpg" alt="Home" title="Home" /></a>  
<a ng-href="/jiff-jiff/#/random" title="&quot; Start your list &quot;"><img height="200" src="images/jiffpaws.jpg" alt="Start your list" title="Start your list" /></a> 
<a ng-href="/jiff-jiff/#/about" title="Visit Jiff's Website"><img height="200" src="images/jiffandpancakes.jpg" alt="Visit Jiff's Website" title="Visit Jiff's Website" /></a>

</div> 
</center>

</div>


<!-- small polaroids displayed when videos are saved -->
<div ng-if="storage.savedVideos">

  <br>

  <div class="row" id="small-photos-hover">
  <ul class="saved-videos-list">
    <li ng-repeat="video in storage.savedVideos">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="grid-padding">
    <a ng-href="https://www.youtube.com/embed/{{video.items}}" id="small-photos" target="_self">
      <img width="200" height="140" ng-src="{{video.thumbnail}}" /><br>
      
      <br>
      <br>
      Play Favorite Jiff! </a>
    </div>
    </div>  
    </li>
  </ul>
  </div>
</div>

<!-- extra images -->
<div class="fries hvr-pulse-grow">
  <a ng-href="/jiff-jiff/#/random"><img src="images/halffries.png"></a>
</div>

<div class="burger hvr-pulse-grow">
  <a ng-href="/jiff-jiff/#/random"><img src="images/burger.png"></a>
</div>

<div class="coke hvr-pulse-grow">
  <a ng-href="/jiff-jiff/#/random"><img src="images/coke.png"></a>
</div>

