<center><h1 class="heading-one">Watch Your Favorites</h1></center>
<div ng-if="storage.savedVideos">
  <br>
  <div class="row" id="small-photos-hover">
  <ul class="saved-videos-list">
    <li ng-repeat="video in storage.savedVideos">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="grid-padding">
    <a ng-href="https://www.youtube.com/embed/{{video.items}}" target="_blank" id="small-photos">
      <img width="200" height="140" ng-src="{{video.thumbnail}}" /><br>
      <br>
      <br>
      Your Favorite!</a>
    </div>
    </div>  
    </li>
  </ul>
  </div>
</div>
