<!-- title for post it -->
<div class="main-title">
<p align="center">Random Jiff Video Generator</p></a>
</div>
<!-- post it -->
<a href="/jiff-jiff/#/random"><img src="images/green.png"></a>
<!-- polaroid images -->
<div class="polaroid-images">
	<a ng-href="/jiff-jiff/#/random" title="fries"><img height="200" src="images/jiffandfries.jpg" alt="fries" title="fries" /></a>
	<a ng-href="/jiff-jiff/#/random" title="&quot; Hi! Click Here &quot;"><img height="200" src="images/jiffwaving.jpg" alt="Hi! Click Here" title="Hi! Click Here" /></a>
	<a ng-href="/jiff-jiff/#/random" title="more fries"><img height="200" src="images/jiffandhamburger.jpg" alt="more fries" title="more fries" /></a>
	<a ng-href="/jiff-jiff/#/random" title="skateboarding"><img height="200" src="images/jiffskateboarding.jpg" alt="skateboarding" title="skateboarding" /></a>
	<a ng-href="/jiff-jiff/#/random" title="bear"><img height="200" src="images/jiffbear.jpg" alt="bear" title="bear" /></a>
</div>
<!-- extra images -->
<div class="coffee-stain">
	<a href="/jiff-jiff/#/random"><img src="images/coffeestain.png"></a>
</div>

<div class="coffee-mug hvr-pulse-grow">
	<a href="/jiff-jiff/#/random"><img src="images/bettercoffee.png"></a>
</div>

<div class="donut hvr-buzz">
	<a href="/jiff-jiff/#/random"><img src="images/donutdonut.png"></a>
</div>

<div class="sharpie hvr-hang">
	<a href="/jiff-jiff/#/random"><img src="images/sharpiesharpie.png"></a>
</div>