
<div class="main-title">
<a ng-href="/jiff-jiff/#/random"><p align="center">Random Jiff Video Generator</p></a>
</div>

<img src="images/green.png">

<div class="polaroid-images">
	<a ng-href="/jiff-jiff/#/random" title="fries"><img height="200" src="images/jiffandfries.jpg" alt="fries" title="fries" /></a>
	<a ng-href="/jiff-jiff/#/random" title="--> click here! <--"><img height="200" src="images/jiffwaving.jpg" alt="waving" title="Click Here!" /></a>
	<a ng-href="/jiff-jiff/#/random" title="more fries"><img height="200" src="images/jiffandhamburger.jpg" alt="fry" title="more fries" /></a>
	<a ng-href="/jiff-jiff/#/random" title="skateboarding"><img height="200" src="images/jiffskateboarding.jpg" alt="skateboarding" title="skateboarding" /></a>
	<a ng-href="/jiff-jiff/#/random" title="bear"><img height="200" src="images/jiffbear.jpg" alt="bear" title="bear" /></a>
</div>
<div class="coffee-stain">
	<img src="images/coffeestain.png">
</div>

<div class="coffee-mug">
	<img src="images/bettercoffee.png">
</div>

<div class="donut">
	<img src="images/donutdonut.png">
</div>

<div class="sharpie">
	<img src="images/sharpiesharpie.png">
</div>