<center><a ng-href="/jiff-jiff/#/random"><h1>Watch Random Jiff videos!</h1></a></center>
<br>
<br>
<div class="polaroid-images">
	<a ng-href="/jiff-jiff/#/random" title="fries"><img height="200" src="images/jiffandfries.jpg" alt="fries" title="fries" /></a>
	<a ng-href="/jiff-jiff/#/random" title="--> click here! <--"><img height="200" src="images/jiffwaving.jpg" alt="waving" title="click here!" /></a>
	<a ng-href="/jiff-jiff/#/random" title="more fries"><img height="200" src="images/jiffandhamburger.jpg" alt="fry" title="more fries" /></a>
	<a ng-href="/jiff-jiff/#/random" title="skateboarding"><img height="200" src="images/jiffskateboarding.jpg" alt="skateboarding" title="skateboarding" /></a>
	<a ng-href="/jiff-jiff/#/random" title="bear"><img height="200" src="images/jiffbear.jpg" alt="bear" title="bear" /></a>
</div>


